<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/create.css">
    <title>Create</title>
</head>

<body>
    <header> <!-- encabezado -->
        <nav class="navbar container"> <!-- barra de navegacion -->
            <div class="logo-header">
                <a href=".././index.html"> <!-- logo -->
                    <img src=".././assets/img/branding/logo_light_horizontal.svg" alt="logo de funkoshop">
                </a>
            </div>

                <ul class="navbar-menu">
                    <li class="navbar-item"> <a class="navbar-link" href="../index.html">Ver Tienda</a> </li>
                    <li class="navbar-item"> <a class="navbar-link" href="./listadoProductos.html">Admin</a> </li>
                    <li class="navbar-item"> <a class="navbar-link" href="./login.html">Salir</a> </li>
                </ul>
        </nav>
    </header>

    <section class="container">
        <h1>CREAR NUEVO ITEM</h1>
        <% if( typeof error != 'undefined'){ %>
            <div class="error">
        
                <% error.forEach(err =>{ %>
            
                    <p><%= err.msg %></p>
                
                <% }) %>
                
            </div>
        <% } %>
        <form method="post" action="/admin/create" enctype="multipart/form-data">

            <section class="paddings">
                <label for="categorias" class="light-label paddings-titles">Categoría:</label>
                <select name="category_id" id="category_id" class="select">
                    <option class="categorias-option">Seleccionar</option>
                    <% category.forEach(category=>{ %>
                        <option value= "<%= category.category_id %>"> <%= category.category_name %> </option>
                <% }) %>
                    <!-- Agrega más opciones de categorías aquí -->
                </select>
    
                <label for="license" class="light-label paddings-titles">Licencia:</label>
                <select class="select" name="license_id" id="license_id">
                    <option>Seleccionar</option>
                    <% license.forEach(license=>{ %>
                        <option value= "<%= license.license_id %>"> <%= license.license_name %> </option>
                <% }) %>
                    <!-- Agrega más opciones de licencias aquí -->
                </select>
            </section>


            <section class="paddings">
                <label for="name" class="label-items">Nombre del producto:</label>
                <input type="text" id="name" name="name" value="<%= typeof product != 'undefined' ? product.name: '' %>" class="name-product">
            </section>

            <section class="paddings">
                <textarea id="description" name="description" value="<%= typeof product != 'undefined' ? product.description: '' %>" class="descripcion">
                    <%= typeof product != 'undefined' ? product.description: '' %>
                </textarea>
            </section>

            <section class="flex-direction paddings">
                <label for="SKU" class="label-items paddings-titles">SKU:</label>
                <input type="text" id="SKU" name="SKU" value="<%= typeof product != 'undefined' ? product.SKU: '' %>" class="input-line">
    
                <label for="price" class="label-items paddings-titles">Precio:</label>
                <input type="text" id="price" name="price" value="<%= typeof product != 'undefined' ? product.price: '' %>" class="input-line">
    
                <label for="stock" class="label-items paddings-titles">Stock:</label>
                <input type="text" id="stock" name="stock" value="<%= typeof product != 'undefined' ? product.stock: '' %>" class="text-center input-line">
            </section>

            <section class="flex-direction paddings">

                <label for="discount" class="label-items paddings-titles">Descuento:</label>
                <input type="text" id="discount" name="discount" value="<%= typeof product != 'undefined' ? product.discount: '' %>" class=" text-center input-line">
    
                <label for="dues" class="text-center  label-items paddings-titles">Cuotas:</label>
                <select name="dues" id="dues"  class="select ">
                    <option value = "3">3 cuotas sin interes</option>
                    <option value = "6">6 cuotas sin interes</option>
                    <option value = "9">9 cuotas sin interes</option>
                    <option value = "12">12 cuotas sin interes</option>
                    <!-- Agrega más opciones de cuotas aquí -->
                </select>
            </section>

            <section class="paddings"> 
                <label for="images" class="label-items paddings-titles">Imágenes:</label>
                <input type="file" id="images" name="images" multiple>
            </section>

            <section class="buttons">
                <button class="button">Agregar Producto</button>
                <button class="button">Limpiar</button>
            </section>
        </form>

    </section>

    <footer class="footer">
        <nav class="navbar container">
                <ul class="navbar-item">
    
                    <li class="navbar-item"> 
                        <a class="navbar-link" href="../index.html">Shop</a>
                    </li>
    
                    <li class="navbar-item">
                        <a class="navbar-link" href="./register.html">Registrarse</a>
                    </li>
    
                    <li class="navbar-item"> 
                        <a class="navbar-link" href="./login.html">Ingresar</a> 
                    </li>
    
                    <li class="navbar-item"> 
                        <a class="navbar-link" href="./contacto.html">Contacto</a> 
                    </li>
    
                </ul>
    
                <picture>
                    <!-- <a href="../index.html"> logo -->
                        <img src="../assets/img/branding/isotype.svg" alt="logo de funkoshop">
                    <!-- </a> -->
                </picture>
            </nav>
            <p class="copyright">Todos los derechos reservados - comisión 23573 grupo 9</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>

</html>